:root {
  --amarelo: #FFCB47;
  --amarelo-transparente: #FFCB473D;
  --branco: #FFFFFF;
  --cinza: #909090;
  --marrom-marca: #A3724F;
  --preto: #202020;
  --preto-transparente: #0000001f;
  --preto-shadow: rgba(0, 0, 0, 0.411);
  --verde-wpp: #24961A;

  --familia-corpo: 'Monserrat', sans-serif;
  --familia-titulo-destaque: 'Signika Negative', sans-serif;;

  --peso-titulo-destaque: 700;
  --peso-botao: 700;
  --peso-destaque: 700;
  --peso-corpo: 700;

  --tamanho-corpo: 1rem;
  --tamanho-titulo: 1.375rem;
  --tamanho-titulo-destaque: 2rem;
  --tamanho-destaque: 1.375rem;

  
  --tamanho-corpo-tab: 1.25rem;
  --tamanho-titulo-tab: 2.062rem;
  --tamanho-titulo-destaque-tab: 3rem;
  --tamanho-destaque-tab: 2.062rem;

  --tamanho-corpo-desk: 1.5rem;
  --tamanho-titulo-desk: 2.5rem;
  --tamanho-titulo-destaque-desk: 3.5rem;
  --tamanho-destaque-desk: 2.5rem;
}
