.chamada {
  background-image: url(../svg/splash-chamada.svg);
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 1rem;
  position: relative;
  margin-bottom: 2.5rem;
}

.chamada__texto {
  height: auto;
  margin-bottom: 2rem;
  width: 15rem;
}

.chamada__imagem {
  display: none;
  position: absolute;
  right: 0;
  top: 3.25rem;
}

.chamada__formulario {
  position: relative;
  z-index: 2;
}
