.chamada {
  /*background-image: url(../svg/splash-chamada.svg);*/
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 1rem;
  position: relative;
  margin-bottom: 2.5rem;
  z-index: 2;
}

.chamada__texto {
  font-weight: 500;
  height: auto;
  margin-bottom: 2rem;
  width: auto;
}

.chamada__imagem {
  display: none;
}


@media screen and (min-width: 768px) {
  .chamada {
    background: none;
  }

  .chamada__texto {
    width: 25rem;
  }
  
  .chamada__imagem {
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 5rem;
    top: 12rem;
    width: 25%;
  }  
}

@media screen and (min-width: 1024px) {
  .chamada {
    padding-top: 5rem;
  }
  
  .chamada__texto {
    padding-top: 1.5rem;
    width: 60%;
  }
  
  .chamada__imagem {
    top: 15rem;
    right: 4rem;
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  .chamada {
    padding-top: 5rem;
  }
  
  .chamada__texto {
    padding-top: 3rem;
    width: 55%;
  }
  
  .chamada__imagem {
    top: 13rem;
    right: 7rem;
    width: 30%;
  }
}

@media screen and (min-width: 1920px) {  
  .chamada__texto {
    width: 40%;
  }
  
  .chamada__imagem {
    top: 5rem;
    right: 20rem;
  }
}
