.chamada {
  background-image: url(../svg/splash-chamada.svg);
  background-position: top right;
  background-repeat: no-repeat;
  padding-top: 1rem;
  position: relative;
  margin-bottom: 2.5rem;
  z-index: 2;
}

.chamada__texto {
  height: auto;
  margin-bottom: 2rem;
  width: 15rem;
}

.chamada__imagem {
  display: none;
}


@media screen and (min-width: 768px) {
  .chamada {
    background: none;
  }

  .chamada__texto {
    width: 25rem;
  }
  
  .chamada__imagem {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 5rem;
    top: 12rem;
    width: 30%;
  }  
}
