.lista-item {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  width: 15rem;
}

.item-localizacao {
  margin-left: auto;
  margin-top: 1rem;
}

.item__icone {
  background-color: var(--marrom-marca);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.375rem;
  border-radius: 50%;
  display: block;
  height: 3.25rem;
  margin-right: 1rem;
  width: 3.25rem;
}

.item__icone--cursor {
  background-image: url(../../svg/mouse.svg);
}

.item__icone--carrinho {
  background-image: url(../../svg/cart.svg);
}

.item__icone--maps {
  background-image: url(../../svg/maps-branco.svg);
}

@media screen and (min-width: 768px) {
  .lista-item {
    padding-top: 2rem;
  }
  
  .item {
    width: 18rem;
  }

  .item:hover {
    text-decoration: underline;
  }  
}

@media screen and (min-width: 1440px) {
  .lista-item {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2.5rem;
  }
  
  .item {
    width: 100%;
  }  
}
