.produto {
  min-height: 12.5rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.produto__conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.produto__imagem {
  border-radius: 10%;
  height: 13rem;
  margin: 2rem 1rem;
  width: auto;
}

.produto__titulo {
  background: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.produto__descricao {
  background: var(--branco);
  margin: 0;
  padding: 1rem;
}

.produto__comprar {
  align-items: center;
  color: var(--marrom-marca);
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

.produto__comprar--preco {
  background-color: var(--amarelo);
  border-radius: .5rem;
  box-shadow: 5px 5px 10px var(--preto-shadow);
  padding: 1rem;
}

.produto__comprar--icone {
  background-repeat: no-repeat;
  background-image: url(../../svg/wpp-back.svg);
  background-size: 3.5rem, contain;
  border-radius: 50%;
  box-shadow: 3px 5px 10px var(--preto-shadow);
  height: 3.5rem;
  width: 3.5rem;
}
