.lista__produto {
  padding-top: 1.5rem;
}

.produto {
  background-color: var(--branco);
  box-shadow: 10px 10px 30px var(--preto-transparente);
  box-sizing: border-box;
  min-height: 12.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 50%;
  margin-bottom: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
}

.produto__imagem {
  border-radius: 50%;
  left: -8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 17rem;
  z-index: 1;
}

.produto__conteudo {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 55%;
  z-index: 2;
}

.produto__conteudo-primeiro {
  left: 45%;
}

.produto__titulo {
  margin-top: 0;
  margin-bottom: .5rem;
}

.produto__preco {
  margin-bottom: 1.5rem;
}

.produto__mais {
  align-items: center;
  color: var(--marrom-marca);
  display: flex;
}

.produto__mais--icone {
  background-image: url(../../svg/seta.svg);
  background-size: contain;
  display: inline-block;
  height: 0.875rem;
  margin-left: .4rem;
  width: 0.875rem;
}

@media screen and (min-width: 500px) {
  .produto {
    overflow-x: visible;
  }
  
}

@media screen and (min-width: 768px) {
  .lista__produto {
    padding-top: 2rem;
  }
  
  .produto {
    height: 17rem;
  }
  
  .produto__imagem {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
  }
  
  .produto__conteudo {
    left: 55%;
  }
  
  .produto__conteudo-primeiro {
    left: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .lista__produto {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 25rem);
    grid-template-rows: repeat(2, 1f);
    justify-content: space-around;
  }

  .produto {
    height: 30rem;
    margin-bottom: 2rem;
  }

  .produto__imagem {
    border-radius: 0;
    height: 65%;
    top: 0;
    transform: none;
    width: 100%;
  }

  .produto__conteudo {
    top: 70%;
    left: 0;
    width: 100%;
  }

  .produto__titulo {
    font-size: var(--tamanho-titulo-desk);
  }

  .produto__mais:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1440px) {
  .produto {
    height: 33rem;
  }

  .produto__imagem {
    height: 62%;
  }

  .produto__conteudo {
    top: 67%;
  }
}

  @media screen and (min-width: 1920px) {
  .produto {
    height: 35rem;
  }

  .produto__imagem {
    height: 60%;
  }
}
