.produtos {
  margin: 4rem 0;
  padding: 0;
}

.produto {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 12.5rem;
  margin: 2rem 0;
  overflow: hidden;
  position: relative;
}

.produto__imagem {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  height: 15rem;
  justify-content: center;
  margin: 2rem auto;
  overflow: hidden;
  width: 90%;
}

.produto__imagem--imagem{
  height: auto;
  width: 100%;
}

.produto__titulo {
  background: none;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.produto__descricao--titulo {
  font-size: var(--tamanho-titulo);
  margin-bottom: 1.5rem;
  width: 55%;
}

.produto__descricao {
  background-color: var(--branco);
  padding: 1.5rem;
}

.produto__comprar {
  align-items: center;
  color: var(--marrom-marca);
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.produto__comprar--preco {
  background-color: var(--amarelo);
  border-radius: .5rem;
  box-shadow: 5px 5px 10px var(--preto-shadow);
  padding: 1rem;
}

.produto__comprar--icone {
  background-repeat: no-repeat;
  background-image: url(../../svg/wpp-back.svg);
  background-size: 3.5rem, contain;
  border-radius: 50%;
  box-shadow: 3px 5px 10px var(--preto-shadow);
  height: 3.5rem;
  width: 3.5rem;
}

@media screen and (min-width: 768px) {
  .produtos {
    margin: 4rem 0;
  }

  .produto__imagem {
    margin: 1rem 0;
    height: 26rem;
    width: 51%;
  }

  .produto__imagem--imagem {
    border-radius: 50%;
  }

  .produto__descricao--titulo {
    font-size: var(--tamanho-titulo-tab);
  }
  
  .produto__descricao {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .produto {
    display: grid;
    grid-template-columns: repeat(2, 1f);
    grid-template-rows: repeat(3, 17rem);
    overflow: visible;
    margin: 0;
    padding-top: 0;
  }

  .produto--grid {
    text-align: left;
    writing-mode: horizontal-tb;
    direction: rtl;
  }

  .produto--grid::before {
    background-image: url(../../svg/Rectangle-back.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 40%;
    right: -10rem;
    position: absolute;
    overflow: visible;
    top: 0;
    width: 40%;
    z-index: -1;
  }
  
  .produto::before {
    background-image: url(../../svg/Rectangle-back.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 40%;
    left: -10rem;
    position: absolute;
    top: 0;
    overflow: visible;
    width: 40%;
    z-index: -1;
  }
  
  .produto__titulo {
    align-self: flex-end;
    grid-column: 2;
    grid-row: 1;
  }
  
  .produto__titulo--grid {
    justify-self: center;
  }

  .produto__imagem {
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: center;
    width: 80%;
  }
  
  .produto__imagem--imagem {
    border-radius: 1rem;
  }

  .produto__imagem--grid {
    grid-column: 2;
  }
  
  .produto__descricao {
    align-self: flex-start;
    background: none;
    grid-column: 2;
    grid-row: 2 / 3;
    width: 85%;
  }
  
  .produto__descricao--titulo {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .produto {
    padding-top: 4rem;
  }
  
  .produto::before {
    height: 50%;
  }
  
  .produto__titulo {
    align-self: center;
    font-size: var(--tamanho-titulo-desk);
    margin-bottom: 4rem;
  }
  
  .produto__descricao {
    align-self: flex-end;
  }
  
  .produto__descricao--titulo {
    font-size: var(--tamanho-titulo-tab);
  }
  
  .produto__descricao {
    font-size: var(--tamanho-corpo-tab);
  }
}

@media screen and (min-width: 1920px) {
  .produto {
    padding-top: 8rem;
  }

  .produto__imagem {
    height: 100%;
    width: 60%;
  }

  .produto__descricao {
    width: 75%;
  }
}
